<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Css/StyleSheet.css" rel="stylesheet">
    <link href="~/Css/Home/Home.css" rel="stylesheet">
    <link href="~/Css/Admin/Admin.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Kavivanar" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<body>
    <div>
        <header>
            <a class="homeRedirection" title="Peliculas" asp-controller="Home" asp-action="Index">Peliculas RD</a>
            @if (User.Identity.IsAuthenticated)
            {
                <span class="hiUser">Hola @User.Identity.Name</span>
                @if (User.IsInRole("Admins"))
                {
                    <a asp-action="Categories" asp-controller="Admin" class="userInAndOut"><i class="fas fa-cog"></i></a>
                }else
                {
                    <a title="Configuracion" asp-route-nameout="@User.Identity.Name" asp-action="Edit" asp-controller="Admin" class="userInAndOut"><i class="fas fa-cog"></i></a>
                }

                <a class="userInAndOut" title="Salir" asp-action="Logout" asp-controller="Account"><i class="fas fa-user"><p class="outUser">Log Out</p></i></a>
            } else
            {
                <a class="userInAndOut inIcon" asp-action="Login" asp-controller="Account"><i class="fas fa-user"><p class="outUser">Log in</p></i></a>
            }
            <a class="userInAndOut docoIcon" title="Documentation" asp-action="Documentation" asp-controller="Home"><i class="fas fa-book"></i><p class="outUser"></p></i></a>
        </header>

        <div class="main">
            @RenderBody()
        </div>

        <footer><h3>Made by Manuel Guerrero</h3></footer>
    </div>
</body>
</html>
