@model Movie

@{
    Layout = "_Layout";
    ViewBag.Title = "Create Movie";
}


<form method="post" action="Create" enctype="multipart/form-data">
    <h3 class="createUserH3">Create an User</h3>
    <div class="validationDanger" asp-validation-summary="All"></div>
    <div class="create">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>
        <input name="path" type="hidden" value="modelBinding"/>
        <div>
            <label>Img</label>
            <input type="file" name="file"/>
        </div>
    </div>

    <button type="submit" class="submitButtom">Submit</button>
    <a asp-action="Index" asp-controller="Home" class="cancelButtom">Cancel</a>
</form>