@{ 
    Layout = "_Layout";
    ViewBag.Title = "Documentation";
}

<div>
    <p class="docu">Documentation</p>
    <div>
        <p class="docuHeader">Como cambiar los roles o tener una cuenta Admin ?</p>
        <p class="docuText">
            Para ese proposito debes entrar con una administrador y camibar tu Role a administrador,
            otra opcion seria contactar con un administrador para que el te puede cambiar el Role.
        </p>
    </div>
    <div>
        <p class="docuHeader">Como cambiar mi usuario y clave ?</p>
        <p>
            Para ese proposito debes logearte, y despues de esto entrar al icono de una tuerca,
            hay podras cambiar todos tus datos.
        </p>
    </div>
    <div>
        <p class="docuHeader">Como publicar una pelicula ?</p>
        <p>
            Para ese proposito debes de tener una cuenta Administrador, ir al icono de configuracion
            y seguir los pasos.
        </p>
    </div>
</div>