@model List<Movie>

@{
    Layout = "_Layout";
    ViewBag.Title = "Movies";
}

<div class="peliculas">
    @foreach (var movie in Model)
    {

        <div class="pelicula">
            <img src="@movie.Path">
            <div class="nombrePelicula">@movie.Name</div>
        </div>
    }
</div>