@{
    Layout = "_Layout";
    ViewBag.Title = "Peliculas";
}

<div class="peliculas">
    <div class="pelicula">
        <img src="~/Img/avengers.jpg">
        <div class="nombrePelicula">Avengers</div>
    </div>
    <div class="pelicula">
        <img src="~/Img/avengers.jpg">
        <div class="nombrePelicula">Avengers</div>
    </div>
    <div class="pelicula">
        <img src="~/Img/avengers.jpg">
        <div class="nombrePelicula">Avengers</div>
    </div>
    <div class="pelicula">
        <img src="~/Img/avengers.jpg">
        <div class="nombrePelicula">Avengers</div>
    </div>
    <div class="pelicula">
        <img src="~/Img/avengers.jpg">
        <div class="nombrePelicula">Avengers</div>
    </div>
</div>
