@model List<Movie>

@{
    Layout = "_Layout";
    ViewBag.Title = "Movies";
}

<div class="categories">
    @if(Model.Count > 0)
    {
        @foreach (var movie in Model)
        {
        <a asp-action="Movie" asp-controller="Movie" asp-route-id="@movie.Id">
            <div class="movies">
                <img src="@movie.Path">
                <p class="nombrePelicula">@movie.Name</p>
            </div>
        </a>
        }
    } else
    {
        <p>No movies to show</p>
        @if (User.IsInRole("Admins"))
        {
        <p><a asp-action="Create" asp-controller="Movie" class="createButtom">Create Movie</a></p>
        }
    }
</div> 