.main {
    width: 80%;
    background: #E2EFDE;
    padding: 20px;
    margin: 20px auto;
    border-radius: 3px;
    font-family: 'Kavivanar', cursive;
    font-size: 28px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.categories a {
    text-decoration: none;
}


.categories .imagenes {
    margin: 0 10px;
}

.categories .imagenes p{
    background: #000;
    width: 100%;
    color: #fff;
    margin-top: -13px;
    padding: 5px;
    text-align: center;
}

.categories .imagenes img {
    width: 350px;
    height: 300px;
}

.categories .movies {
    margin-bottom: 15px;
}

.categories .movies img {
    width: 220px;
    height: 300px;
}

.categories .movies p {
    background: #000;
    width: 100%;
    color: #fff;
    margin-top: -13px;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width: 1465px) {
    .main {
        width: 67%;
    }
}

@media screen and (max-width: 1400px) {
    .main {
        width: 53%;
    }
}

@media screen and (max-width: 1360px){
    .main {
        width: 55%;
    }
}